@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #948aec;
  --secondary: #76d0a3;
  --scrollbar-thumb: #cbd5e1;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent var(--scrollbar-thumb);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.375rem;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 0.375rem;
}

svg {
  display: inline-block;
}

@font-face {
  font-family: 'gitstars';
  font-weight: 400;
  src: url('/gitstars.woff2') format('woff2');
  font-display: swap;
}

.brand-text {
  background: linear-gradient(45deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
