html {
  height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #948aec;
}

a:hover {
  text-decoration: underline;
  color: #7265e6;
}

.vc-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slo {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ttc {
  text-transform: capitalize;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #bfbfbf;
}

.tag-nav-enter,
.tag-nav-leave-active {
  transform: translateX(-100%);
}

.tag-nav-enter-active,
.tag-nav-leave-active {
  transition: all 0.3s;
}

.enlarge-enter {
  opacity: 0.1;
  transform: scale(0.1);
}

.enlarge-enter-active {
  transition: all 0.15s ease-in;
}

.slide-up-enter,
.slide-up-leave-active {
  transform: translateY(100%);
}

.slide-down-enter,
.slide-down-leave-active {
  height: 0 !important;
}

.slide-up-enter-active,
.slide-up-leave-active,
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.15s ease-out;
}

.slide-to-left-enter,
.slide-to-left-leave-active {
  opacity: 0.1;
  transform: translateX(100%);
}

.slide-to-right-enter,
.slide-to-right-leave-active {
  opacity: 0.1;
  transform: translateX(-100%);
}

.telescopic-enter,
.telescopic-leave-active {
  opacity: 0.1;
  transform: scale(0.1);
  transform-origin: 0 0 0;
}

.slide-to-left-enter-active,
.slide-to-left-leave-active,
.slide-to-right-enter-active,
.slide-to-right-leave-active,
.telescopic-enter-active,
.telescopic-leave-active {
  transition: all 0.3s;
}
