html {
  height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #948aec;
}

a:hover {
  text-decoration: underline;
  color: #7265e6;
}

.vc-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slo {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ttc {
  text-transform: capitalize;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #bfbfbf;
}

#sidebar .nav-tags {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

#sidebar .nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: none;
  height: 40px;
  padding: 0 15px;
  border-left: 3px solid transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s;
}

#sidebar .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

#sidebar .nav-item.active {
  border-left-color: #7265e6;
  border-bottom-color: transparent;
  background-color: rgba(255, 255, 255, 0.1);
}

#sidebar .nav-item__label {
  display: flex;
  align-items: center;
  flex: auto;
  padding-right: 10px;
  line-height: 40px;
  cursor: inherit;
}

#sidebar .nav-item__label .fa {
  flex: 0 0 15px;
  margin-top: 3px;
  margin-right: 5px;
}

#sidebar .nav-item__name {
  flex: auto;
}

#sidebar .nav-item__input--name {
  box-shadow: border-box;
  width: 100%;
  border: none;
  line-height: 1.5;
  color: #fff;
  background-color: transparent;
  outline: none;
}

#sidebar .nav-item-badge {
  flex: none;
  padding: 0 0.8em;
  line-height: 1.8;
  border-radius: 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}

#sidebar .fa-times-circle {
  font-size: 16px;
  transition: all 0.1s;
  cursor: pointer;
}

#sidebar .fa-times-circle:hover {
  transform: scale(1.5);
}

#subsidebar-header__dropdown-menu {
  padding: 5px 0;
  margin-top: 0;
}

.enlarge-enter {
  opacity: 0.1;
  transform: scale(0.1);
}

.enlarge-enter-active {
  transition: all 0.15s ease-in;
}

.slide-up-enter,
.slide-up-leave-active {
  transform: translateY(100%);
}

.slide-down-enter,
.slide-down-leave-active {
  height: 0 !important;
}

.slide-up-enter-active,
.slide-up-leave-active,
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.15s ease-out;
}

.slide-to-left-enter,
.slide-to-left-leave-active {
  opacity: 0.1;
  transform: translateX(100%);
}

.slide-to-right-enter,
.slide-to-right-leave-active {
  opacity: 0.1;
  transform: translateX(-100%);
}

.telescopic-enter,
.telescopic-leave-active {
  opacity: 0.1;
  transform: scale(0.1);
  transform-origin: 0 0 0;
}

.slide-to-left-enter-active,
.slide-to-left-leave-active,
.slide-to-right-enter-active,
.slide-to-right-leave-active,
.telescopic-enter-active,
.telescopic-leave-active {
  transition: all 0.3s;
}
