<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>gitstars</title>
  <% if (htmlWebpackPlugin.options.env === 'production') { %>
    <link href="//cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/github-markdown-css/2.8.0/github-markdown.min.css" rel="stylesheet">
    <% } %>
</head>

<body>
  <div id="app"></div>
  <% if (htmlWebpackPlugin.options.env === 'production') { %>
    <script src="//unpkg.com/vue@2.5.3/dist/vue.min.js"></script>
    <script src="//unpkg.com/axios@0.17.0/dist/axios.min.js"></script>
    <script src="//unpkg.com/sortablejs@1.6.0/Sortable.min.js"></script>
    <% } %>
</body>

</html>
