<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Github Stars Manager</title>

  <% if (htmlWebpackPlugin.options.env === 'production') { %>
    <link href="//cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/github-markdown-css/2.8.0/github-markdown.min.css" rel="stylesheet">
  <% } %>

  <link rel="icon" type="image/x-icon" href="favicon.ico" />

  <script>
    var _hmt = _hmt || []; (function () { var b = document.createElement("script"); b.src = "https://hm.baidu.com/hm.js?0635fd5f6970e6e6531116add3146cf4"; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(b, a) })();
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109561543-1"></script>
  <script>
    window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments) } gtag("js", new Date()); gtag("config", "UA-109561543-1");
  </script>
</head>

<body>
  <div id="app"></div>

  <% if (htmlWebpackPlugin.options.env === 'production') { %>
    <script src="//cdn.bootcss.com/babel-polyfill/6.26.0/polyfill.min.js"></script>
    <script src="//cdn.bootcss.com/vue/2.5.8/vue.min.js"></script>
    <script src="//cdn.bootcss.com/vuex/3.0.1/vuex.min.js"></script>
    <script src="//cdn.bootcss.com/axios/0.17.0/axios.min.js"></script>
    <script src="//cdn.bootcss.com/Sortable/1.6.0/Sortable.min.js"></script>
    <script src="//cdn.bootcss.com/vue-i18n/7.4.0/vue-i18n.min.js"></script>
  <% } %>
</body>

</html>
